.noAnimes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-favorite{
    width: 24;
    height: 24;
    background-color: rgba(0, 0, 0, 0);
}

.remove-favorite:hover{
    transition: all .3s ease;
    background-color: rgba(184, 3, 3, 0.712);
}